3/25 5:45 - currently working to intelligently create the target column

TODO:
push to aws?

make a basic model

In [812]:
import os
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import pickle
import string
import sys
import numpy as np
import time

In [811]:
len(predictor['address'].unique())

101157

In [792]:
def save(df, target = False):
    path = 'data/' + ('target.p' if target else 'predictor.p')
    with open('path', 'wb') as file:
        pickle.dump(df, file)

In [677]:
def data_pipeline(predictor):
    predictor.columns = [str.lower(col) for col in predictor.columns]
    
    predictor['address'] = predictor[['street_number', 'avs_street_name']].apply(lambda x: ' '.join(x.astype(str)),axis = 1)
    return predictor

In [717]:
pd.to_datetime('1/1/1900') + pd.Timedelta('{} days'.format(500))

Timestamp('1901-05-16 00:00:00')

In [751]:
save(predictor)

In [735]:
def int_date_series(series):
    return series.apply(int_to_date)

In [724]:
def int_to_date(date):
    if type(date) == int:
        return pd.to_datetime('12/30/1899') + pd.Timedelta('{} days'.format(date))
    else:
        return date

In [334]:
#load data and align columns
data = []
for i, path in enumerate(os.listdir('data')):
    #I downloaded all the data into files with filename length 12. This'll filter out the other stuff.
    if len(path) > 12 or len(path) < 11:
        continue
    try:
        df = pd.read_excel('data/' + path)
    except:
        print(i)
    df.columns = [str.lower(col) for col in df.columns]
    df.columns = df.columns.map(column_name_map)
    try:
        if len(df.columns) == 34:
            df['description'] = df['description'].astype(str) + df['unnamed: 33'].astype(str)
            df = df.drop(['unnamed: 33'], axis = 1)
        if len(df.columns) == 35:
            df['description'] = df['description'].astype(str) + df['unnamed: 33'].astype(str) + df['unnamed: 34'].astype(str)
            df = df.drop(['unnamed: 33', 'unnamed: 34'], axis = 1)
        if len(df.columns) == 42:
            df['description'] = df['description'].astype(str) + df['unnamed: 41'].astype(str)
            df = df.drop(['unnamed: 41'], axis = 1)
        if len(df.columns) == 43:
            df['description'] = df['description'].astype(str) + df['unnamed: 41'].astype(str) + df['unnamed: 42'].astype(str)
            df = df.drop(['unnamed: 41', 'unnamed: 42'], axis = 1)
    except KeyError as e:
        print(e)
        print(i)
        print(len(df.columns))
    data.append(df)

177

In [438]:
l = [1,2,3,4,5]
[i,x for i,x in enumerate(l)]

SyntaxError: invalid syntax (<ipython-input-438-be848b48aba2>, line 2)

In [676]:
data[7]['avs_street_name'];

In [331]:
[i for i,datum in enumerate(data[:72]) if len(datum.columns) > 33]

[]

In [321]:
toy = data[81][~data[81]['unnamed: 42'].isnull()]

In [324]:
len(toy.columns)

43

In [336]:
os.listdir('data')[177]

'predictor.p'

In [29]:
links1 = soup.find_all('a', {'href':re.compile(r'/ftp*')})
base = 'https://sfdbi.org'

'https://sfdbi.org/ftp/uploadedfiles/dbi/reports/monthly_reports/bpfi/March2009FiledIssued_Permits.xls'

In [455]:
predictor = pd.concat(data)

C:\Users\pengj\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [474]:
with open('data/predictor.p', 'wb') as file:
    pickle.dump(predictor,file)

In [470]:
predictor['address'] = predictor[['street_number', 'avs_street_name']].apply(lambda x: ' '.join(x.astype(str)), axis = 1)

In [480]:
target['date'] = pd.to_datetime(target['date'])

In [493]:
save(target, True)

In [673]:
mask = predictor['street_number'].apply(lambda x: isinstance(x, str))

In [119]:
predictor.columns = [str.lower(col) for col in predictor.columns]
predictor['address'] = predictor[['street_number', 'avs_street_name']].apply(lambda x: ' '.join(x.astype(str)),axis = 1)

Format changes:
72,

In [208]:
def compare(colA, colB, n):
    for i, (a, b) in enumerate(zip(colA, colB)):
        if i >= n:
            break
        if a != b:
            print(i)
            return False
    return True

In [222]:
compare(data[0].columns, data[2].columns, 50)

7

False

In [224]:
data[2].columns, data[0].columns

(Index(['APPLICATION_NUMBER', 'FORM_NUMBER', 'FILE_DATE', 'STATUS_DATE',
        'STATUS', 'STATUS_CODE', 'EXPIRATION_DATE', 'ESTIMATEDCOST',
        'REVISEDCOST', 'EXISTINGUSE', 'EXISTINGUNITS', 'PROPOSEDUSE',
        'PROPOSEDUNITS', 'BLOCK', 'LOT', 'STREET_NUMBER', 'STREET_NUMBER_SFX',
        'AVS_STREET_NAME', 'AVS_STREET_SFX', 'UNIT', 'UNIT_SFX', 'FIRST_NAME',
        'LAST_NAME', 'CONTRACTORPHONE', 'COMPANY_NAME', 'STREET',
        'STREET_SUFFIX', 'CITY', 'STATE', 'ZIP_CODE', 'CONTACT_NAME',
        'CONTACT_PHONE', 'DESCRIPTION', 'Unnamed: 33'],
       dtype='object'),
 Index(['APPLICATION_NUMBER', 'FORM_NUMBER', 'FILE_DATE', 'STATUS_DATE',
        'STATUS', 'STATUS_CODE', 'EXPIRATION_DATE', 'ESTIMATED_COST',
        'REVISED_COST', 'EXISTING_USE', 'EXISTING_UNITS', 'PROPOSED_USE',
        'PROPOSED_UNITS', 'BLOCK', 'LOT', 'STREET_NUMBER', 'STREET_NUMBER_SFX',
        'AVS_STREET_NAME', 'AVS_STREET_SFX', 'UNIT', 'UNIT_SFX', 'FIRST_NAME',
        'LAST_NAME', 'CONTRACTORPHONE', 'COMPANY_NAME', 'STREET',
        'STREET_SUFFIX', 'CITY', 'STATE', 'ZIP_CODE', 'CONTACT_NAME',
        'CONTACT_PHONE', 'DESCRIPTION', 'Unnamed: 33'],
       dtype='object'))

In [232]:
l = [1,2,3]
list(map({1:'hi'},l))

TypeError: 'dict' object is not callable

In [241]:
predictor.columns

column_name_map = {}
for name in predictor.columns:
    column_name_map[name] = name

In [271]:
column_name_map['revisedcost'] = 'revised_cost'

[]

In [340]:
data[13].columns

Index(['application_number', 'form_number', 'file_date', 'status_date',
       'status', 'status_code', 'expiration_date', 'estimated_cost',
       'revised_cost', 'existing_use', 'existing_units', 'proposed_use',
       'proposed_units', 'block', 'lot', 'street_number', 'street_number_sfx',
       'avs_street_name', 'avs_street_sfx', 'unit', 'unit_sfx', 'first_name',
       'last_name', 'contractor_phone', 'company_name', 'street',
       'street_suffix', 'city', 'state', 'zip_code', 'contact_name',
       'contact_phone', 'description'],
      dtype='object')

In [346]:
data[171].columns = data[170].columns

In [347]:
data[171]

,application_number,form_number,file_date,status_date,status,status_code,expiration_date,estimated_cost,revised_cost,existing_use,...,company_name,street_number.1,street,street_suffix,city,state,zip_code,contact_name,contact_phone,description
0,#201406047531,3,2014-06-04,2019-01-30,ISSUED,9,2021-01-30,500000.0,500000.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,CHANGE OF USE FROM R-3 TO R-2 & VERTICAL ADDIT...
1,#201406047531,3,2014-06-04,2019-01-30,ISSUED,9,2021-01-30,500000.0,500000.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,CHANGE OF USE FROM R-3 TO R-2 & VERTICAL ADDIT...
2,#201406047531,3,2014-06-04,2019-01-30,ISSUED,9,2021-01-30,500000.0,500000.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,CHANGE OF USE FROM R-3 TO R-2 & VERTICAL ADDIT...
3,#201406208994,3,2014-06-20,2019-01-11,ISSUED,9,2020-01-06,20000.0,25000.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,REVISION TO PA#201107210744. RELOCATE UNITE 1 ...
4,#201406208994,3,2014-06-20,2019-01-11,ISSUED,9,2020-01-06,20000.0,25000.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,REVISION TO PA#201107210744. RELOCATE UNITE 1 ...
5,#201502198775,1,2015-02-19,2019-01-02,ISSUED,9,2024-12-01,8000000.0,9178885.0,NaN,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,ERECT 6-STORY 35 DWELLING UNITS TYPE III RE...
6,#201504294945,3,2015-04-29,2019-01-14,ISSUED,9,2020-01-09,10000.0,10000.0,RESIDENTIAL HOTEL,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,REVISION TO PA 2014 0813 3749 - ADD 3 ROOMS FO...
7,#201504294945,3,2015-04-29,2019-01-14,ISSUED,9,2020-01-09,10000.0,10000.0,RESIDENTIAL HOTEL,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,REVISION TO PA 2014 0813 3749 - ADD 3 ROOMS FO...
8,#201504294945,3,2015-04-29,2019-01-14,ISSUED,9,2020-01-09,10000.0,10000.0,RESIDENTIAL HOTEL,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,REVISION TO PA 2014 0813 3749 - ADD 3 ROOMS FO...
9,#201505287406,3,2015-05-28,2019-01-18,ISSUED,9,2022-01-02,200000.0,660000.0,1 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,VERTICAL & HORIZONTAL EXTENSION TO CONVERT A S...
10,#201505287406,3,2015-05-28,2019-01-18,ISSUED,9,2022-01-02,200000.0,660000.0,1 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,VERTICAL & HORIZONTAL EXTENSION TO CONVERT A S...
11,#201505297547,3,2015-05-29,2019-01-02,ISSUED,9,2021-12-17,210000.0,250000.0,1 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,EXCAVATE (E) GARAGE & CRAWL SPACE TO ALLOW 8' ...
12,#201507171823,3,2015-07-17,2019-01-02,ISSUED,9,2019-12-28,3000.0,3000.0,1 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,ALTER SITE REVISION TO APP#201006295572. ADD R...
13,#201511041757,6,2015-11-04,2019-01-11,ISSUED,9,2019-07-10,20000.0,20000.0,1 FAMILY DWELLING,...,ARCON CONSTRUCTION INC.,650.0,FLORIDA,ST,SAN FRANCISCO,CA,94110-0000,NaN,NaN,TO DEMOLISH 1 STORY SINGLE FAMILY HOME. ** MAH...
14,#201512316217,2,2015-12-31,2019-01-16,ISSUED,9,2021-12-31,800000.0,995000.0,NaN,...,AREA DEVELOPMENT INC.,120.0,W 3RD AVE #1007,NaN,SAN MATEO,CA,94402-0000,NaN,NaN,TO ERECT 3 STORIES NO BASEMENT TYPE V-B 2 F...
15,#201512316217,2,2015-12-31,2019-01-16,ISSUED,9,2021-12-31,800000.0,995000.0,NaN,...,AREA DEVELOPMENT INC.,120.0,W 3RD AVE #1007,NaN,SAN MATEO,CA,94402-0000,NaN,NaN,TO ERECT 3 STORIES NO BASEMENT TYPE V-B 2 F...
16,#201604285973,3,2016-04-28,2019-01-11,ISSUED,9,2020-01-06,25000.0,75000.0,APARTMENTS,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,ADDITION OF 1 UNIT. (1 BEDROOM & 1 BATHROOM)
17,#201605066788,3,2016-05-06,2019-01-04,ISSUED,9,2021-12-19,3150.0,214000.0,1 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,PER UNIT LEGALIZATION ORDINANCE 43-14. LEGALIZ...
18,#201606099481,3,2016-06-09,2019-01-30,ISSUED,9,2020-01-30,50000.0,50000.0,1 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,TO COMPLY W/N.O.V #201477612. ABATEMENT OF N.O...
19,#201606099591,3,2016-06-09,2019-01-25,ISSUED,9,2020-01-25,100000.0,233000.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,2 STORY REAR ADDITION INCLUDING 2 BEDROOMS 1 ...
20,#201606099591,3,2016-06-09,2019-01-25,ISSUED,9,2020-01-25,100000.0,233000.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,2 STORY REAR ADDITION INCLUDING 2 BEDROOMS 1 ...
21,#201608013824,8,2016-08-01,2019-01-29,ISSUED,9,2020-01-29,120000.0,130000.0,APARTMENTS,...,C B W CONSTRUCTION INC,1618.0,SULLIVAN PMB#377,NaN,DALY CITY,CA,94015-0000,NaN,NaN,MANDATORY SEISMIC RETROFIT PER SF ORD 66-13 SF...
22,#201608023926,3,2016-08-02,2019-01-03,ISSUED,9,2019-12-29,10000.0,20206.0,1 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,COMPLY W/ COMPLAINT #201625331 & #201600673 U...
23,#201608034060,3,2016-08-03,2019-01-29,ISSUED,9,2020-01-29,250000.0,260000.0,APARTMENTS,...,C B W CONSTRUCTION INC,1618.0,SULLIVAN PMB#377,NaN,DALY CITY,CA,94015-0000,NaN,NaN,CONSTRUCT 2 ACCESSORY DWELLING UNITS PER SF OR...
24,#201608185374,3,2016-08-18,2019-01-04,ISSUED,9,2021-12-19,50000.0,125000.0,OFFICE,...,TOMMY K WOO,38858.0,SALMON,TR,FREMONT,CA,94536-0000,NaN,NaN,CHANGE OF USE. TO CONVERT PHOTO SHOP TO NEW LI...
25,#201609157894,8,2016-09-15,2019-01-17,ISSUED,9,2022-01-01,85000.0,170000.0,APARTMENTS,...,BAI CONSTRUCTION,3483.0,GOLDEN GATE,WY,LAFAYETTE,CA,94549-0000,NaN,NaN,SOFT STORY RETROFIT PER SFBC CHAPTER 34B ENGIN...
26,#201610210942,3,2016-10-21,2019-01-17,ISSUED,9,2022-01-01,40000.0,240000.0,1 FAMILY DWELLING,...,NORTH BAY CONSTRUCTION,631.0,FREDERICK ST APT A,NaN,SAN FRANCISCO,CA,94117-0000,NaN,NaN,UNIT LEGALIZATION ORD #43-14. INTERIOR ALTERAT...
27,#201611041959,8,2016-11-04,2019-01-16,ISSUED,9,2020-01-11,18000.0,18000.0,PRKNG GARAGE/PUBLIC,...,E F BRETT & COMPANY INC,520.0,WISCONSIN STREET,NaN,SAN FRANCISCO,CA,94107-0000,NaN,NaN,ELEVATOR MODERNIZATION: VOLUNTARY BARRIER REMO...
28,#201611041966,8,2016-11-04,2019-01-16,ISSUED,9,2020-01-11,16000.0,22000.0,PRKNG GARAGE/PUBLIC,...,E F BRETT & COMPANY INC,520.0,WISCONSIN STREET,NaN,SAN FRANCISCO,CA,94107-0000,NaN,NaN,ELEVATOR MODERNIZATION: VOLUNTARY BARRIER REMO...
29,#201611041969,8,2016-11-04,2019-01-16,ISSUED,9,2020-01-11,11000.0,11000.0,PRKNG GARAGE/PUBLIC,...,E F BRETT & COMPANY INC,520.0,WISCONSIN STREET,NaN,SAN FRANCISCO,CA,94107-0000,NaN,NaN,ELEVATOR MODERNIZATION: VOLUNTARY BARRIER REMO...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4826,#201901311808,8,2019-01-31,2019-01-31,FILED,3,2019-07-31,6000.0,6000.0,OFFICE,...,RED HAWK FIRE & SECURITY CA LLC,4384.0,ENTERPRISE,PL,FREMONT,CA,94538-0000,NaN,NaN,FIRE ALARM T.I. ON 3RD FL. REMOVE (2) CEILING ...
4827,#201901311808,8,2019-01-31,2019-01-31,ISSUED,9,2019-07-31,6000.0,6000.0,OFFICE,...,RED HAWK FIRE & SECURITY CA LLC,4384.0,ENTERPRISE,PL,FREMONT,CA,94538-0000,NaN,NaN,FIRE ALARM T.I. ON 3RD FL. REMOVE (2) CEILING ...
4828,#201901311809,3,2019-01-31,2019-01-31,FILED,3,NaT,100000.0,NaN,APARTMENTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADD 3RD FL TO EXISTING TWO STORY STRUCTURE. AD...
4829,#201901311810,8,2019-01-31,2019-01-31,FILED,3,2020-01-31,19650.0,35000.0,APARTMENTS,...,JIN QING CONSTRUCTION CORP.,735.0,CLEARFIELD,DR,MILLBRAE,CA,94030-0000,NaN,NaN,UNIT # 2: REMODEL KITCHEN AND BATHROOM REPLAC...
4830,#201901311810,8,2019-01-31,2019-01-31,ISSUED,9,2020-01-31,19650.0,35000.0,APARTMENTS,...,JIN QING CONSTRUCTION CORP.,735.0,CLEARFIELD,DR,MILLBRAE,CA,94030-0000,NaN,NaN,UNIT # 2: REMODEL KITCHEN AND BATHROOM REPLAC...
4831,#201901311811,8,2019-01-31,2019-01-31,FILED,3,2019-08-01,25000.0,25000.0,2 FAMILY DWELLING,...,UNDERPINNING SPECIALIST,770.0,DAKOTA,DR,SAN JOSE,CA,95111-0000,NaN,NaN,EMERGENCY SHORING AND UNDERPINNING TO COMPLY W...
4832,#201901311811,8,2019-01-31,2019-01-31,FILED,3,2019-08-01,25000.0,25000.0,2 FAMILY DWELLING,...,UNDERPINNING SPECIALIST,770.0,DAKOTA,DR,SAN JOSE,CA,95111-0000,NaN,NaN,EMERGENCY SHORING AND UNDERPINNING TO COMPLY W...
4833,#201901311812,8,2019-01-31,2019-01-31,FILED,3,2020-01-31,30000.0,30000.0,APARTMENTS,...,NORCAL REMODELING GROUP LLC,1175.0,CHULA VISTA,AV,BURLINGAME,CA,94010-0000,NaN,NaN,UNIT 410: REMODEL BATHROOM CHANGE VALVE & BAT...
4834,#201901311812,8,2019-01-31,2019-01-31,ISSUED,9,2020-01-31,30000.0,30000.0,APARTMENTS,...,NORCAL REMODELING GROUP LLC,1175.0,CHULA VISTA,AV,BURLINGAME,CA,94010-0000,NaN,NaN,UNIT 410: REMODEL BATHROOM CHANGE VALVE & BAT...
4835,#201901311814,8,2019-01-31,2019-01-31,FILED,3,2020-02-01,50000.0,50000.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,DEMO EXTG KITCHEN ON 2ND FLOOR. REMOVE 3RD FLO...
4836,#201901311815,8,2019-01-31,2019-01-31,FILED,3,2019-08-01,20000.0,20000.0,RETAIL SALES,...,CLIPPER CONSTRUCTION INC.,2281.0,MARKET,ST,SAN FRANCISCO,CA,94114,NaN,NaN,INSTALL ADA BATHROOM AT GR FL COMMERCIAL SPACE...
4837,#201901311816,8,2019-01-31,2019-01-31,FILED,3,NaT,20000.0,0.0,APARTMENTS,...,TRITECH CONSTRUCTION,9845.0,BABBITT,AV,NORTHRIDGE,CA,91325-0000,NaN,NaN,REVISION TO PA 2017-0913-2998 (SOFT STORY) REP...
4838,#201901311817,8,2019-01-31,2019-01-31,FILED,3,NaT,45000.0,180000.0,1 FAMILY DWELLING,...,PIVOTT CONSTRUCTION AND DESIGN INC,751.0,LAUREL STREET SUITE 911,NaN,SAN CARLOS,CA,94070-0000,NaN,NaN,INTERIOR PARTITIONS CASEWORK FINISHES AND PL...
4839,#201901311818,8,2019-01-31,2019-01-31,FILED,3,NaT,20000.0,0.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,REVISION TO PA #201811095499. REPLACE EXISTING...
4840,#201901311818,8,2019-01-31,2019-01-31,FILED,3,NaT,20000.0,0.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,REVISION TO PA #201811095499. REPLACE EXISTING...
4841,#201901311819,8,2019-01-31,2019-01-31,FILED,3,2019-05-31,1.0,1.0,1 FAMILY DWELLING,...,BABA BUILDERS CO,NaN,P.O. BOX 1430,NaN,SAN BRUNO,CA,94066-0000,NaN,NaN,TO RENEW PA 201511233354 TO OBTAIN FINAL INSPE...
4842,#201901311819,8,2019-01-31,2019-01-31,ISSUED,9,2019-05-31,1.0,1.0,1 FAMILY DWELLING,...,BABA BUILDERS CO,NaN,P.O. BOX 1430,NaN,SAN BRUNO,CA,94066-0000,NaN,NaN,TO RENEW PA 201511233354 TO OBTAIN FINAL INSPE...
4843,#201901311820,8,2019-01-31,2019-01-31,FILED,3,NaT,6000.0,6000.0,1 FAMILY DWELLING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RE-ROOFING
4844,#201901311821,8,2019-01-31,2019-01-31,FILED,3,2019-07-31,11800.0,11800.0,1 FAMILY DWELLING,...,BAY 101 ROOFING INC,1268.0,STATE,ST,ALVISO,CA,95002-0000,NaN,NaN,REROOF
4845,#201901311821,8,2019-01-31,2019-01-31,ISSUED,9,2019-07-31,11800.0,11800.0,1 FAMILY DWELLING,...,BAY 101 ROOFING INC,1268.0,STATE,ST,ALVISO,CA,95002-0000,NaN,NaN,REROOF
4846,#201901311822,8,2019-01-31,2019-01-31,FILED,3,NaT,10000.0,10000.0,1 FAMILY DWELLING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REMODELING BATH ROOM
4847,#201901311823,8,2019-01-31,2019-01-31,FILED,3,NaT,1.0,0.0,WAREHOUSE NO FRNITUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LEGALIZATION OF EXISTING SPACE (MANUFACTURING ...
4848,#201901311824,3,2019-01-31,2019-01-31,FILED,3,NaT,1000.0,NaN,WAREHOUSE NO FRNITUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHANGE OF OCCUPANCY FROM WAREHOUSE TO OFFICE. ...
4849,#201901311825,8,2019-01-31,2019-01-31,FILED,3,2019-06-01,1.0,1.0,1 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,REV TO PA# 201801098221; ADDED BEAM SIZE FOR 2...
4850,#201901311826,8,2019-01-31,2019-01-31,FILED,3,2019-05-31,1.0,1.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,TO OBTAIN A FINAL INSPECTION FOR WORK APPROVED...
4851,#201901311826,8,2019-01-31,2019-01-31,FILED,3,2019-05-31,1.0,1.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,TO OBTAIN A FINAL INSPECTION FOR WORK APPROVED...
4852,#201901311826,8,2019-01-31,2019-01-31,ISSUED,9,2019-05-31,1.0,1.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,TO OBTAIN A FINAL INSPECTION FOR WORK APPROVED...
4853,#201901311826,8,2019-01-31,2019-01-31,ISSUED,9,2019-05-31,1.0,1.0,2 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,TO OBTAIN A FINAL INSPECTION FOR WORK APPROVED...
4854,#201901311827,8,2019-01-31,2019-01-31,FILED,3,2019-05-31,3500.0,3500.0,1 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,DRYWALL REPLACEMENT IN 3 BEDROOMS AND 1 HALLWA...
4855,#201901311827,8,2019-01-31,2019-01-31,ISSUED,9,2019-05-31,3500.0,3500.0,1 FAMILY DWELLING,...,OWNER,NaN,OWNER,NaN,OWNER,CA,00000-0000,NaN,NaN,DRYWALL REPLACEMENT IN 3 BEDROOMS AND 1 HALLWA...

In [348]:
old = data[0].columns
for i, datum in enumerate(data):
    if not compare(datum.columns,old, 50):
        print(i)
    old = datum.columns

13
72

In [4]:
predictor = pd.read_csv('data/predictor.csv', engine = 'python')
target = pd.read_csv('data/target.csv')

In [79]:
s = pd.Series([1,2,3])
s.astype(str)

0    1
1    2
2    3
dtype: object

In [89]:
predictor.columns;

In [94]:
#only issued applications matter
predictor = predictor[predictor['status'] == 'ISSUED'].drop('status', axis = 1)

SyntaxError: invalid syntax (<ipython-input-94-3e9599a24fc8>, line 2)

In [100]:
predictor['addr2'] = predictor['address'].apply(lambda x: x.split()).apply(lambda x: ' '.join(x[:-1]))

In [528]:
start

Timestamp('2004-04-01 00:00:00')

In [570]:
ind = 15

In [571]:
start = predictor['status_date'][ind]
address = predictor['address'][ind]
temp= target[target['date'] - start > pd.Timedelta('0 days')]

In [572]:
fires = temp[temp['Address'].apply(lambda x: address == x[:len(address)])]

In [584]:
predictor = predictor[predictor['status'] == 'ISSUED']

In [585]:
save(predictor)

In [ ]:
mask1 = (pd.Timedelta('1825 days') > (tdates - start) )
mask2 = (tdates - start) > pd.Timedelta('0 days')

In [604]:
save(predictor)

In [609]:
fires = np.zeros(len(predictor))

In [624]:
times = []
for i,time in enumerate(uniquetimes):
    try:
        times.append(pd.to_datetime(time))
    except:
        print(i, time)

In [ ]:
with open('data/')

In [630]:
times2 = pd.to_datetime(uniquetimes, errors = 'coerce')

In [672]:
data[74]['status_date']

0       2015-12-22 00:00:00
1       2015-12-22 00:00:00
2       2015-12-15 00:00:00
3       2015-12-09 00:00:00
4       2015-12-09 00:00:00
5       2015-12-09 00:00:00
6       2015-12-09 00:00:00
7       2015-12-30 00:00:00
8       2015-12-02 00:00:00
9       2015-12-11 00:00:00
10      2015-12-10 00:00:00
11      2015-12-10 00:00:00
12      2015-12-10 00:00:00
13      2015-12-10 00:00:00
14      2015-12-03 00:00:00
15      2015-12-22 00:00:00
16      2015-12-08 00:00:00
17      2015-12-01 00:00:00
18      2015-12-18 00:00:00
19      2015-12-11 00:00:00
20      2015-12-03 00:00:00
21      2015-12-29 00:00:00
22      2015-12-01 00:00:00
23      2015-12-01 00:00:00
24      2015-12-01 00:00:00
25      2015-12-01 00:00:00
26      2015-12-01 00:00:00
27      2015-12-07 00:00:00
28      2015-12-16 00:00:00
29      2015-12-29 00:00:00
               ...
4952                  42369
4953                  42369
4954                  42369
4955                  42369
4956                  42369
4957                  42369
4958                  42369
4959                  42369
4960                  42369
4961                  42369
4962                  42369
4963                  42369
4964                  42369
4965                  42369
4966                  42369
4967                  42369
4968                  42369
4969                  42369
4970                  42369
4971                  42369
4972                  42369
4973                  42369
4974                  42369
4975                  42369
4976                  42369
4977                  42369
4978                  42369
4979                  42369
4980                  42369
4981                  42369
Name: status_date, Length: 4982, dtype: object

In [671]:
for i, x in enumerate(data):
    for j, row in x.iterrows():
        if type(row['status_date']) == int:
            print(i, j)
            break

74 4794
124 4794

In [662]:
[(i, type(x.iloc[5]['status_date'])) for (i,x) in enumerate(data)]

[(0, pandas._libs.tslibs.timestamps.Timestamp),
 (1, pandas._libs.tslibs.timestamps.Timestamp),
 (2, pandas._libs.tslibs.timestamps.Timestamp),
 (3, str),
 (4, str),
 (5, pandas._libs.tslibs.timestamps.Timestamp),
 (6, pandas._libs.tslibs.timestamps.Timestamp),
 (7, pandas._libs.tslibs.timestamps.Timestamp),
 (8, pandas._libs.tslibs.timestamps.Timestamp),
 (9, pandas._libs.tslibs.timestamps.Timestamp),
 (10, pandas._libs.tslibs.timestamps.Timestamp),
 (11, pandas._libs.tslibs.timestamps.Timestamp),
 (12, pandas._libs.tslibs.timestamps.Timestamp),
 (13, pandas._libs.tslibs.timestamps.Timestamp),
 (14, pandas._libs.tslibs.timestamps.Timestamp),
 (15, pandas._libs.tslibs.timestamps.Timestamp),
 (16, pandas._libs.tslibs.timestamps.Timestamp),
 (17, pandas._libs.tslibs.timestamps.Timestamp),
 (18, pandas._libs.tslibs.timestamps.Timestamp),
 (19, pandas._libs.tslibs.timestamps.Timestamp),
 (20, pandas._libs.tslibs.timestamps.Timestamp),
 (21, pandas._libs.tslibs.timestamps.Timestamp),
 (22, pandas._libs.tslibs.timestamps.Timestamp),
 (23, pandas._libs.tslibs.timestamps.Timestamp),
 (24, pandas._libs.tslibs.timestamps.Timestamp),
 (25, pandas._libs.tslibs.timestamps.Timestamp),
 (26, pandas._libs.tslibs.timestamps.Timestamp),
 (27, pandas._libs.tslibs.timestamps.Timestamp),
 (28, pandas._libs.tslibs.timestamps.Timestamp),
 (29, pandas._libs.tslibs.timestamps.Timestamp),
 (30, pandas._libs.tslibs.timestamps.Timestamp),
 (31, pandas._libs.tslibs.timestamps.Timestamp),
 (32, pandas._libs.tslibs.timestamps.Timestamp),
 (33, pandas._libs.tslibs.timestamps.Timestamp),
 (34, pandas._libs.tslibs.timestamps.Timestamp),
 (35, pandas._libs.tslibs.timestamps.Timestamp),
 (36, pandas._libs.tslibs.timestamps.Timestamp),
 (37, pandas._libs.tslibs.timestamps.Timestamp),
 (38, pandas._libs.tslibs.timestamps.Timestamp),
 (39, pandas._libs.tslibs.timestamps.Timestamp),
 (40, pandas._libs.tslibs.timestamps.Timestamp),
 (41, pandas._libs.tslibs.timestamps.Timestamp),
 (42, pandas._libs.tslibs.timestamps.Timestamp),
 (43, pandas._libs.tslibs.timestamps.Timestamp),
 (44, pandas._libs.tslibs.timestamps.Timestamp),
 (45, pandas._libs.tslibs.timestamps.Timestamp),
 (46, pandas._libs.tslibs.timestamps.Timestamp),
 (47, pandas._libs.tslibs.timestamps.Timestamp),
 (48, pandas._libs.tslibs.timestamps.Timestamp),
 (49, pandas._libs.tslibs.timestamps.Timestamp),
 (50, pandas._libs.tslibs.timestamps.Timestamp),
 (51, pandas._libs.tslibs.timestamps.Timestamp),
 (52, pandas._libs.tslibs.timestamps.Timestamp),
 (53, pandas._libs.tslibs.timestamps.Timestamp),
 (54, pandas._libs.tslibs.timestamps.Timestamp),
 (55, pandas._libs.tslibs.timestamps.Timestamp),
 (56, pandas._libs.tslibs.timestamps.Timestamp),
 (57, pandas._libs.tslibs.timestamps.Timestamp),
 (58, pandas._libs.tslibs.timestamps.Timestamp),
 (59, pandas._libs.tslibs.timestamps.Timestamp),
 (60, pandas._libs.tslibs.timestamps.Timestamp),
 (61, pandas._libs.tslibs.timestamps.Timestamp),
 (62, pandas._libs.tslibs.timestamps.Timestamp),
 (63, pandas._libs.tslibs.timestamps.Timestamp),
 (64, pandas._libs.tslibs.timestamps.Timestamp),
 (65, pandas._libs.tslibs.timestamps.Timestamp),
 (66, pandas._libs.tslibs.timestamps.Timestamp),
 (67, pandas._libs.tslibs.timestamps.Timestamp),
 (68, pandas._libs.tslibs.timestamps.Timestamp),
 (69, pandas._libs.tslibs.timestamps.Timestamp),
 (70, pandas._libs.tslibs.timestamps.Timestamp),
 (71, pandas._libs.tslibs.timestamps.Timestamp),
 (72, pandas._libs.tslibs.timestamps.Timestamp),
 (73, pandas._libs.tslibs.timestamps.Timestamp),
 (74, datetime.datetime),
 (75, pandas._libs.tslibs.timestamps.Timestamp),
 (76, pandas._libs.tslibs.timestamps.Timestamp),
 (77, pandas._libs.tslibs.timestamps.Timestamp),
 (78, pandas._libs.tslibs.timestamps.Timestamp),
 (79, pandas._libs.tslibs.timestamps.Timestamp),
 (80, pandas._libs.tslibs.timestamps.Timestamp),
 (81, pandas._libs.tslibs.timestamps.Timestamp),
 (82, pandas._libs.tslibs.timestamps.Timestamp),
 (83, pandas._libs.tslibs.timestamps.Timestamp),
 (84, pandas._libs.tslibs.timestamps.Timestamp),
 (85, pandas._libs.tslibs.timestamps.Timestamp),
 (86, pandas._libs.tslibs.timestamps.Timestamp),
 (87, pandas._libs.tslibs.timestamps.Timestamp),
 (88, pandas._libs.tslibs.timestamps.Timestamp),
 (89, pandas._libs.tslibs.timestamps.Timestamp),
 (90, pandas._libs.tslibs.timestamps.Timestamp),
 (91, pandas._libs.tslibs.timestamps.Timestamp),
 (92, pandas._libs.tslibs.timestamps.Timestamp),
 (93, pandas._libs.tslibs.timestamps.Timestamp),
 (94, pandas._libs.tslibs.timestamps.Timestamp),
 (95, pandas._libs.tslibs.timestamps.Timestamp),
 (96, pandas._libs.tslibs.timestamps.Timestamp),
 (97, pandas._libs.tslibs.timestamps.Timestamp),
 (98, pandas._libs.tslibs.timestamps.Timestamp),
 (99, pandas._libs.tslibs.timestamps.Timestamp),
 (100, pandas._libs.tslibs.timestamps.Timestamp),
 (101, pandas._libs.tslibs.timestamps.Timestamp),
 (102, pandas._libs.tslibs.timestamps.Timestamp),
 (103, pandas._libs.tslibs.timestamps.Timestamp),
 (104, pandas._libs.tslibs.timestamps.Timestamp),
 (105, pandas._libs.tslibs.timestamps.Timestamp),
 (106, pandas._libs.tslibs.timestamps.Timestamp),
 (107, pandas._libs.tslibs.timestamps.Timestamp),
 (108, pandas._libs.tslibs.timestamps.Timestamp),
 (109, pandas._libs.tslibs.timestamps.Timestamp),
 (110, pandas._libs.tslibs.timestamps.Timestamp),
 (111, pandas._libs.tslibs.timestamps.Timestamp),
 (112, pandas._libs.tslibs.timestamps.Timestamp),
 (113, pandas._libs.tslibs.timestamps.Timestamp),
 (114, pandas._libs.tslibs.timestamps.Timestamp),
 (115, pandas._libs.tslibs.timestamps.Timestamp),
 (116, pandas._libs.tslibs.timestamps.Timestamp),
 (117, pandas._libs.tslibs.timestamps.Timestamp),
 (118, pandas._libs.tslibs.timestamps.Timestamp),
 (119, pandas._libs.tslibs.timestamps.Timestamp),
 (120, pandas._libs.tslibs.timestamps.Timestamp),
 (121, pandas._libs.tslibs.timestamps.Timestamp),
 (122, pandas._libs.tslibs.timestamps.Timestamp),
 (123, pandas._libs.tslibs.timestamps.Timestamp),
 (124, datetime.datetime),
 (125, pandas._libs.tslibs.timestamps.Timestamp),
 (126, pandas._libs.tslibs.timestamps.Timestamp),
 (127, pandas._libs.tslibs.timestamps.Timestamp),
 (128, pandas._libs.tslibs.timestamps.Timestamp),
 (129, pandas._libs.tslibs.timestamps.Timestamp),
 (130, pandas._libs.tslibs.timestamps.Timestamp),
 (131, pandas._libs.tslibs.timestamps.Timestamp),
 (132, pandas._libs.tslibs.timestamps.Timestamp),
 (133, pandas._libs.tslibs.timestamps.Timestamp),
 (134, pandas._libs.tslibs.timestamps.Timestamp),
 (135, pandas._libs.tslibs.timestamps.Timestamp),
 (136, pandas._libs.tslibs.timestamps.Timestamp),
 (137, pandas._libs.tslibs.timestamps.Timestamp),
 (138, pandas._libs.tslibs.timestamps.Timestamp),
 (139, pandas._libs.tslibs.timestamps.Timestamp),
 (140, pandas._libs.tslibs.timestamps.Timestamp),
 (141, pandas._libs.tslibs.timestamps.Timestamp),
 (142, pandas._libs.tslibs.timestamps.Timestamp),
 (143, pandas._libs.tslibs.timestamps.Timestamp),
 (144, pandas._libs.tslibs.timestamps.Timestamp),
 (145, pandas._libs.tslibs.timestamps.Timestamp),
 (146, pandas._libs.tslibs.timestamps.Timestamp),
 (147, pandas._libs.tslibs.timestamps.Timestamp),
 (148, pandas._libs.tslibs.timestamps.Timestamp),
 (149, pandas._libs.tslibs.timestamps.Timestamp),
 (150, pandas._libs.tslibs.timestamps.Timestamp),
 (151, pandas._libs.tslibs.timestamps.Timestamp),
 (152, pandas._libs.tslibs.timestamps.Timestamp),
 (153, pandas._libs.tslibs.timestamps.Timestamp),
 (154, pandas._libs.tslibs.timestamps.Timestamp),
 (155, pandas._libs.tslibs.timestamps.Timestamp),
 (156, pandas._libs.tslibs.timestamps.Timestamp),
 (157, pandas._libs.tslibs.timestamps.Timestamp),
 (158, pandas._libs.tslibs.timestamps.Timestamp),
 (159, pandas._libs.tslibs.timestamps.Timestamp),
 (160, pandas._libs.tslibs.timestamps.Timestamp),
 (161, pandas._libs.tslibs.timestamps.Timestamp),
 (162, pandas._libs.tslibs.timestamps.Timestamp),
 (163, pandas._libs.tslibs.timestamps.Timestamp),
 (164, pandas._libs.tslibs.timestamps.Timestamp),
 (165, pandas._libs.tslibs.timestamps.Timestamp),
 (166, pandas._libs.tslibs.timestamps.Timestamp),
 (167, pandas._libs.tslibs.timestamps.Timestamp),
 (168, pandas._libs.tslibs.timestamps.Timestamp),
 (169, pandas._libs.tslibs.timestamps.Timestamp),
 (170, pandas._libs.tslibs.timestamps.Timestamp),
 (171, pandas._libs.tslibs.timestamps.Timestamp),
 (172, pandas._libs.tslibs.timestamps.Timestamp)]

In [682]:
data[74][['file_date', 'status_date', 'expiration_date']].apply(lambda x: if type(x) == int else x)

                file_date          status_date      expiration_date
0     2009-07-07 00:00:00  2015-12-22 00:00:00  2016-06-22 00:00:00
1     2009-07-07 00:00:00  2015-12-22 00:00:00  2016-06-22 00:00:00
2     2011-05-09 00:00:00  2015-12-15 00:00:00  2016-12-15 00:00:00
3     2012-09-11 00:00:00  2015-12-09 00:00:00  2017-12-09 00:00:00
4     2012-09-11 00:00:00  2015-12-09 00:00:00  2017-12-09 00:00:00
5     2012-09-11 00:00:00  2015-12-09 00:00:00  2017-12-09 00:00:00
6     2012-09-11 00:00:00  2015-12-09 00:00:00  2017-12-09 00:00:00
7     2013-04-09 00:00:00  2015-12-30 00:00:00  2016-12-30 00:00:00
8     2013-04-10 00:00:00  2015-12-02 00:00:00  2017-12-02 00:00:00
9     2013-06-14 00:00:00  2015-12-11 00:00:00  2017-12-11 00:00:00
10    2013-07-02 00:00:00  2015-12-10 00:00:00  2016-12-10 00:00:00
11    2013-07-24 00:00:00  2015-12-10 00:00:00  2016-12-10 00:00:00
12    2013-07-24 00:00:00  2015-12-10 00:00:00  2016-12-10 00:00:00
13    2013-07-24 00:00:00  2015-12-10 00:00:00  2016-12-10 00:00:00
14    2013-08-07 00:00:00  2015-12-03 00:00:00  2016-12-03 00:00:00
15    2013-08-20 00:00:00  2015-12-22 00:00:00  2016-12-22 00:00:00
16    2013-10-31 00:00:00  2015-12-08 00:00:00  2017-12-08 00:00:00
17    2013-12-17 00:00:00  2015-12-01 00:00:00  2017-12-01 00:00:00
18    2013-12-30 00:00:00  2015-12-18 00:00:00  2016-12-18 00:00:00
19    2014-04-16 00:00:00  2015-12-11 00:00:00  2016-12-11 00:00:00
20    2014-04-24 00:00:00  2015-12-03 00:00:00  2017-12-03 00:00:00
21    2014-04-25 00:00:00  2015-12-29 00:00:00  2018-06-29 00:00:00
22    2014-05-02 00:00:00  2015-12-01 00:00:00  2017-12-01 00:00:00
23    2014-05-05 00:00:00  2015-12-01 00:00:00  2016-12-01 00:00:00
24    2014-05-05 00:00:00  2015-12-01 00:00:00  2016-12-01 00:00:00
25    2014-05-21 00:00:00  2015-12-01 00:00:00  2016-12-01 00:00:00
26    2014-05-21 00:00:00  2015-12-01 00:00:00  2016-12-01 00:00:00
27    2014-06-09 00:00:00  2015-12-07 00:00:00  2016-12-07 00:00:00
28    2014-06-16 00:00:00  2015-12-16 00:00:00  2016-06-16 00:00:00
29    2014-06-20 00:00:00  2015-12-29 00:00:00  2016-12-30 00:00:00
...                   ...                  ...                  ...
4952                42369                42369                  NaN
4953                42369                42369                  NaN
4954                42369                42369                  NaN
4955                42369                42369                42490
4956                42369                42369                42490
4957                42369                42369                  NaN
4958                42369                42369                42743
4959                42369                42369                  NaN
4960                42369                42369                  NaN
4961                42369                42369                42494
4962                42369                42369                  NaN
4963                42369                42369                42490
4964                42369                42369                42490
4965                42369                42369                  NaN
4966                42369                42369                  NaN
4967                42369                42369                42551
4968                42369                42369                42551
4969                42369                42369                42551
4970                42369                42369                42551
4971                42369                42369                42556
4972                42369                42369                42556
4973                42369                42369                42490
4974                42369                42369                42490
4975                42369                42369                  NaN
4976                42369                42369                42735
4977                42369                42369                42735
4978                42369                42369                42735
4979                42369                42369                42735
4980                42369                42369                42740
4981                42369                42369                  NaN

[4982 rows x 3 columns]

In [641]:
for i, (a, b) in enumerate(zip(times, list(times2))):
    if a != b:
        print(i)
        break

1578

In [659]:
[(i,type(x)) for (i,x) in enumerate(predictor['status_date'].unique())];

In [786]:
target['Address'];

In [781]:
for i, date in enumerate(predictor['status_date'].unique()):
    if i%500 == 0:
        print(i)
    try:
        fires_after[date] = target[target['date'] - date > pd.Timedelta('0 days')]

2554

In [797]:
for i, row in predictor.iterrows():
    if i%1000 == 0:
        print('done with {} iterations'.format(i))
    try:
        #part a
        start = row['status_date']
        address = row['address']
        #part b
        temp = target[target['date'] - start > pd.Timedelta('0 days')]
        #part c
        fires[i] = len(temp[temp['Address'].apply(lambda x: address == x[:len(address)])])
        
        if i > 300:
            break
    except:
        print(i)
        print(sys.exc_info())
        break

done with 0 iterations
266
(<class 'KeyboardInterrupt'>, KeyboardInterrupt(), <traceback object at 0x000001AD22E67708>)

In [798]:
a,b,c

(0.018880500003433554, 10.928580300002068, 51.64846470001066)

In [799]:
target

             date                        Address
0      2019-03-16               156 GEARY STREET
1      2019-03-15           5343 DIAMOND HEIGHTS
2      2019-03-15            2190 LOMBARD STREET
3      2019-03-15            505 OFARRELL ST 211
4      2019-03-15              335 POWELL STREET
5      2019-03-15             2301 MARKET STREET
6      2019-03-15                  BRYANT STREET
7      2019-03-15                  99 YACHT ROAD
8      2019-03-15       3555 CESAR CHAVEZ STREET
9      2019-03-15               3533 21ST STREET
10     2019-03-15                 130 SOUTH PARK
11     2019-03-15       3555 CESAR CHAVEZ STREET
12     2019-03-15                   345 ARGUELLO
13     2019-03-15            1390 MISSION STREET
14     2019-03-15     1500 SOUTH VAN NESS AVENUE
15     2019-03-15                421 TURK STREET
16     2019-03-15           1495 VALENCIA STREET
17     2019-03-15            390 MISSOURI STREET
18     2019-03-15             1272 MARKET STREET
19     2019-03-15          400 CLEMENTINA STREET
20     2019-03-15             2131 FOLSOM STREET
21     2019-03-15                JOHN MUIR DRIVE
22     2019-03-15            1801 VICENTE STREET
23     2019-03-15            1449 POTRERO AVENUE
24     2019-03-15         3610 WASHINGTON STREET
25     2019-03-15                   565 ARGUELLO
26     2019-03-15               2010 45TH AVENUE
27     2019-03-15             310 ARBALLO DR 12C
28     2019-03-14                 MISSION STREET
29     2019-03-14                260 KING ST 781
...           ...                            ...
490561 2003-01-01     BUCHANAN ST. / MOULTON ST.
490562 2003-01-01               641 OFARRELL ST.
490563 2003-01-01       COLUMBUS AV. / UNION ST.
490564 2003-01-01                  1251 EDDY ST.
490565 2003-01-01        EARL ST. / KIRKWOOD AV.
490566 2003-01-01            FELL ST. / POLK ST.
490567 2003-01-01                   505 LYON ST.
490568 2003-01-01   MCALLISTER ST. / WEBSTER ST.
490569 2003-01-01                   481 EDDY ST.
490570 2003-01-01                   2345 3RD ST.
490571 2003-01-01           BEACH ST. / HYDE ST.
490572 2003-01-01           HYDE ST. / UNION ST.
490573 2003-01-01            3839 WASHINGTON ST.
490574 2003-01-01              2132 CHESTNUT ST.
490575 2003-01-01                  50 LAUREL ST.
490576 2003-01-01       319 LOWER FORT MASON ST.
490577 2003-01-01                  2169 26TH AV.
490578 2003-01-01         21ST AV. / TARAVAL ST.
490579 2003-01-01  LEAVENWORTH ST. / LOMBARD ST.
490580 2003-01-01      LOMBARD ST. / WEBSTER ST.
490581 2003-01-01        700 THE EMBARCADERO NOR
490582 2003-01-01               750 KIRKWOOD AV.
490583 2003-01-01      BAY VIEW ST. / LATONA ST.
490584 2003-01-01                   640 TURK ST.
490585 2003-01-01          GREAT HY. / SLOAT BL.
490586 2003-01-01               200 ARGONAUT AV.
490587 2003-01-01        MASON ST. / VALLEJO ST.
490588 2003-01-01   SANSOME ST. / WASHINGTON ST.
490589 2003-01-01        FRONT ST. / VALLEJO ST.
490590 2003-01-01      OFARRELL ST. / POWELL ST.

[490591 rows x 2 columns]

In [773]:
fires[0] = len(temp[temp['Address'].apply(lambda x: address == x[:len(address)])])

In [762]:
start = row['status_date']
address = row['address']

In [598]:
[len(fire) for fire in fires]

[0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 2,
 2,
 1,
 41,
 41,
 64,
 3,
 7,
 0,
 0,
 1,
 0,
 25,
 0,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 77,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 2,
 41,
 41,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 13,
 0,
 0,
 0,
 64,
 1,
 3,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 4,
 4,
 27,
 0,
 0,
 0,
 0,
 0,
 0,
 20,
 0,
 0,
 41,
 41,
 5,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 12,
 0,
 1,
 1,
 321,
 6,
 0,
 0,
 0,
 4,
 1,
 0,
 0,
 1,
 2,
 1,
 0,
 0,
 2,
 0,
 1,
 0,
 23,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 6,
 0,
 0,
 0,
 0,
 0,
 0,
 7,
 7,
 18,
 0,
 0,
 4,
 0,
 1,
 0,
 0,
 16,
 1,
 2,
 47,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 23,
 41]

In [599]:
fires[-1]

             date            Address
5021   2019-01-09  111 SUTTER STREET
13981  2018-10-02  111 SUTTER STREET
21504  2018-07-06  111 SUTTER STREET
24654  2018-06-01  111 SUTTER STREET
28580  2018-04-13  111 SUTTER STREET
76055  2016-10-21  111 SUTTER STREET
79481  2016-09-14  111 SUTTER STREET
84047  2016-07-22  111 SUTTER STREET
96557  2016-02-27  111 SUTTER STREET
102311 2015-12-22  111 SUTTER STREET
112097 2015-09-05  111 SUTTER STREET
118136 2015-06-27  111 SUTTER STREET
120540 2015-05-29  111 SUTTER STREET
156198 2014-02-06      111 SUTTER ST
160698 2013-12-12      111 SUTTER ST
212299 2012-04-19     111 SUTTER ST.
215977 2012-03-05     111 SUTTER ST.
227433 2011-10-22     111 SUTTER ST.
240727 2011-05-20     111 SUTTER ST.
243228 2011-04-19     111 SUTTER ST.
246729 2011-03-11     111 SUTTER ST.
253683 2010-12-21     111 SUTTER ST.
273356 2010-05-11     111 SUTTER ST.
275504 2010-04-15     111 SUTTER ST.
275675 2010-04-13     111 SUTTER ST.
293965 2009-09-11     111 SUTTER ST.
297064 2009-08-06     111 SUTTER ST.
297468 2009-08-01     111 SUTTER ST.
309570 2009-02-26     111 SUTTER ST.
310285 2009-02-16     111 SUTTER ST.
311978 2009-01-26     111 SUTTER ST.
312229 2009-01-23     111 SUTTER ST.
313028 2009-01-13     111 SUTTER ST.
345683 2007-12-11     111 SUTTER ST.
350551 2007-10-11     111 SUTTER ST.
385536 2006-08-07     111 SUTTER ST.
415909 2005-06-27     111 SUTTER ST.
419099 2005-05-13     111 SUTTER ST.
425830 2005-02-09     111 SUTTER ST.
428221 2005-01-07     111 SUTTER ST.
430662 2004-12-06     111 SUTTER ST.

In [11]:
def int_able(string):
    try:
        x = int(string)
    except:
        return False
    return True

In [41]:
predictor[predictor['address'].apply(lambda x: test in x)]

Empty DataFrame
Columns: [file_date, estimated cost, proposed use, proposed units, proposed stories, address, list]
Index: []

In [96]:
#get the rows there the first word of the address is a number
#in other words, make sure there an address number.
predictor['address'][predictor['address'].apply(lambda x: x.split()[0]).apply(intable)];

Confirmed: Every single row in this data has an address number that's the first word in the address

In [32]:
#let's get that list out
predictor['list'] = predictor['address'].apply(lambda x: x.split())

In [97]:
predictor['address'].apply(lambda x: x.split()[-1]).unique();

In [31]:
street_names = predictor['address'].apply(lambda x: x.split()[-2]).unique()

In [98]:
test = '156 GEARY'
target[target['Address'].apply(lambda x: test in x)];

In [ ]:
#let's find stuff with the same second word but different suffix. see if that's a thing?
for name in street_names:
    predictor['address'].apply()

In [99]:
target;

In [43]:
predictor['street name'] = predictor['list'].apply(lambda x: x[1])

In [45]:
predictor['addr2'] = predictor['list'].apply(lambda x: ' '.join(x[:-1]))

In [46]:
predictor

,file_date,estimated cost,proposed use,proposed units,proposed stories,address,list,street name,addr2
0,2013-12-23 00:00:00,55000000.0,APARTMENTS,259.0,6.0,1201 TENNESSEE ST,"[1201, TENNESSEE, ST]",TENNESSEE,1201 TENNESSEE
1,2014-03-07 00:00:00,285000.0,1 FAMILY DWELLING,1.0,3.0,435 10TH AV,"[435, 10TH, AV]",10TH,435 10TH
2,2014-04-04 00:00:00,1.0,NaN,NaN,NaN,1127 MARKET ST,"[1127, MARKET, ST]",MARKET,1127 MARKET
3,2014-04-04 00:00:00,1.0,NaN,NaN,NaN,1127 MARKET ST,"[1127, MARKET, ST]",MARKET,1127 MARKET
4,2014-04-04 00:00:00,1.0,NaN,NaN,NaN,1127 MARKET ST,"[1127, MARKET, ST]",MARKET,1127 MARKET
5,2014-04-04 00:00:00,1.0,NaN,NaN,NaN,1127 MARKET ST,"[1127, MARKET, ST]",MARKET,1127 MARKET
6,2014-04-04 00:00:00,1.0,NaN,NaN,NaN,1127 MARKET ST,"[1127, MARKET, ST]",MARKET,1127 MARKET
7,2014-04-04 00:00:00,1.0,NaN,NaN,NaN,1127 MARKET ST,"[1127, MARKET, ST]",MARKET,1127 MARKET
8,2014-04-29 00:00:00,6000.0,1 FAMILY DWELLING,1.0,3.0,3935 WASHINGTON ST,"[3935, WASHINGTON, ST]",WASHINGTON,3935 WASHINGTON
9,2014-05-22 00:00:00,20000.0,ANTENNA,0.0,2.0,455 IRWIN ST,"[455, IRWIN, ST]",IRWIN,455 IRWIN
10,2014-06-11 00:00:00,20000.0,OFFICE,0.0,12.0,201 POST ST,"[201, POST, ST]",POST,201 POST
11,2014-06-11 00:00:00,20000.0,OFFICE,0.0,12.0,209 POST ST,"[209, POST, ST]",POST,209 POST
12,2014-07-10 00:00:00,130000.0,1 FAMILY DWELLING,1.0,2.0,2371 17TH AV,"[2371, 17TH, AV]",17TH,2371 17TH
13,2014-07-24 00:00:00,3000000.0,RETAIL SALES,0.0,23.0,1455 MARKET ST,"[1455, MARKET, ST]",MARKET,1455 MARKET
14,2014-07-30 00:00:00,8000.0,2 FAMILY DWELLING,2.0,2.0,322 LEXINGTON ST,"[322, LEXINGTON, ST]",LEXINGTON,322 LEXINGTON
15,2014-09-26 00:00:00,20000.0,PRKNG GARAGE/PUBLIC,NaN,7.0,2130 OFARRELL ST,"[2130, OFARRELL, ST]",OFARRELL,2130 OFARRELL
16,2014-10-01 00:00:00,2250.0,NaN,NaN,NaN,1 HALLIDIE PZ,"[1, HALLIDIE, PZ]",HALLIDIE,1 HALLIDIE
17,2014-11-04 00:00:00,1000.0,APARTMENTS,26.0,8.0,1299 BUSH ST,"[1299, BUSH, ST]",BUSH,1299 BUSH
18,2014-12-04 00:00:00,1000.0,OFFICE,NaN,26.0,222 02ND ST,"[222, 02ND, ST]",02ND,222 02ND
19,2014-12-16 00:00:00,334022.0,TOURIST HOTEL/MOTEL,NaN,6.0,28 CYRIL MAGNIN ST,"[28, CYRIL, MAGNIN, ST]",CYRIL,28 CYRIL MAGNIN
20,2014-12-17 00:00:00,5000.0,NaN,NaN,NaN,2675 GEARY BL,"[2675, GEARY, BL]",GEARY,2675 GEARY
21,2014-12-18 00:00:00,495000.0,APARTMENTS,3.0,3.0,3507 23RD ST,"[3507, 23RD, ST]",23RD,3507 23RD
22,2014-12-18 00:00:00,495000.0,APARTMENTS,3.0,3.0,3509 23RD ST,"[3509, 23RD, ST]",23RD,3509 23RD
23,2014-12-29 00:00:00,100000.0,PUBLIC ASSMBLY OTHER,0.0,1.0,333 POST ST,"[333, POST, ST]",POST,333 POST
24,2015-01-23 00:00:00,40000.0,APARTMENTS,5.0,3.0,1417 05TH AV,"[1417, 05TH, AV]",05TH,1417 05TH
25,2015-01-23 00:00:00,40000.0,APARTMENTS,5.0,3.0,1419 05TH AV,"[1419, 05TH, AV]",05TH,1419 05TH
26,2015-01-26 00:00:00,45000.0,APARTMENTS,12.0,3.0,40 BUCHANAN ST,"[40, BUCHANAN, ST]",BUCHANAN,40 BUCHANAN
27,2015-01-29 00:00:00,44000.0,1 FAMILY DWELLING,1.0,2.0,1627 RIVERA ST,"[1627, RIVERA, ST]",RIVERA,1627 RIVERA
28,2015-02-19 00:00:00,22000.0,SCHOOL,0.0,2.0,1111 08TH ST,"[1111, 08TH, ST]",08TH,1111 08TH
29,2015-02-19 00:00:00,50000.0,FOOD/BEVERAGE HNDLNG,0.0,2.0,744 IRVING ST,"[744, IRVING, ST]",IRVING,744 IRVING
...,...,...,...,...,...,...,...,...,...
519452,2019-01-31 00:00:00,6000.0,OFFICE,NaN,11.0,500 HOWARD ST,"[500, HOWARD, ST]",HOWARD,500 HOWARD
519453,2019-01-31 00:00:00,6000.0,OFFICE,NaN,11.0,500 HOWARD ST,"[500, HOWARD, ST]",HOWARD,500 HOWARD
519454,2019-01-31 00:00:00,100000.0,APARTMENTS,3.0,3.0,2834 SAN JOSE AV,"[2834, SAN, JOSE, AV]",SAN,2834 SAN JOSE
519455,2019-01-31 00:00:00,19650.0,APARTMENTS,3.0,4.0,4440 CALIFORNIA ST,"[4440, CALIFORNIA, ST]",CALIFORNIA,4440 CALIFORNIA
519456,2019-01-31 00:00:00,19650.0,APARTMENTS,3.0,4.0,4440 CALIFORNIA ST,"[4440, CALIFORNIA, ST]",CALIFORNIA,4440 CALIFORNIA
519457,2019-01-31 00:00:00,25000.0,2 FAMILY DWELLING,2.0,3.0,4470 24TH ST,"[4470, 24TH, ST]",24TH,4470 24TH
519458,2019-01-31 00:00:00,25000.0,2 FAMILY DWELLING,2.0,3.0,4472 24TH ST,"[4472, 24TH, ST]",24TH,4472 24TH
519459,2019-01-31 00:00:00,30000.0,APARTMENTS,449.0,13.0,601 VAN NESS AV,"[601, VAN, NESS, AV]",VAN,601 VAN NESS
519460,2019-01-31 00:00:00,30000.0,APARTMENTS,449.0,13.0,601 VAN NESS AV,"[601, VAN, NESS, AV]",VAN,601 VAN NESS
519461,2019-01-31 00:00:00,50000.0,2 FAMILY DWELLING,2.0,4.0,7039 GEARY BL,"[7039, GEARY, BL]",GEARY,7039 GEARY
519462,2019-01-31 00:00:00,20000.0,RETAIL SALES,10.0,3.0,1795 HAIGHT ST,"[1795, HAIGHT, ST]",HAIGHT,1795 HAIGHT
519463,2019-01-31 00:00:00,20000.0,APARTMENTS,5.0,3.0,785 CORBETT AV,"[785, CORBETT, AV]",CORBETT,785 CORBETT
519464,2019-01-31 00:00:00,45000.0,1 FAMILY DWELLING,1.0,3.0,839 NORTH POINT ST,"[839, NORTH, POINT, ST]",NORTH,839 NORTH POINT
519465,2019-01-31 00:00:00,20000.0,2 FAMILY DWELLING,2.0,3.0,3440 SCOTT ST,"[3440, SCOTT, ST]",SCOTT,3440 SCOTT
519466,2019-01-31 00:00:00,20000.0,2 FAMILY DWELLING,2.0,3.0,3442 SCOTT ST,"[3442, SCOTT, ST]",SCOTT,3442 SCOTT
519467,2019-01-31 00:00:00,1.0,1 FAMILY DWELLING,1.0,3.0,513 08TH AV,"[513, 08TH, AV]",08TH,513 08TH
519468,2019-01-31 00:00:00,1.0,1 FAMILY DWELLING,1.0,3.0,513 08TH AV,"[513, 08TH, AV]",08TH,513 08TH
519469,2019-01-31 00:00:00,6000.0,1 FAMILY DWELLING,1.0,2.0,766 VIENNA ST,"[766, VIENNA, ST]",VIENNA,766 VIENNA
519470,2019-01-31 00:00:00,11800.0,1 FAMILY DWELLING,1.0,2.0,679 VIENNA ST,"[679, VIENNA, ST]",VIENNA,679 VIENNA
519471,2019-01-31 00:00:00,11800.0,1 FAMILY DWELLING,1.0,2.0,679 VIENNA ST,"[679, VIENNA, ST]",VIENNA,679 VIENNA
519472,2019-01-31 00:00:00,10000.0,1 FAMILY DWELLING,1.0,2.0,766 VIENNA ST,"[766, VIENNA, ST]",VIENNA,766 VIENNA
519473,2019-01-31 00:00:00,1.0,MANUFACTURING,NaN,3.0,1155 BRYANT ST,"[1155, BRYANT, ST]",BRYANT,1155 BRYANT
519474,2019-01-31 00:00:00,1000.0,OFFICE,NaN,2.0,432 BRYANT ST,"[432, BRYANT, ST]",BRYANT,432 BRYANT
519475,2019-01-31 00:00:00,1.0,1 FAMILY DWELLING,1.0,2.0,647 28TH AV,"[647, 28TH, AV]",28TH,647 28TH
519476,2019-01-31 00:00:00,1.0,2 FAMILY DWELLING,2.0,3.0,2908 BUSH ST,"[2908, BUSH, ST]",BUSH,2908 BUSH
519477,2019-01-31 00:00:00,1.0,2 FAMILY DWELLING,2.0,3.0,2910 BUSH ST,"[2910, BUSH, ST]",BUSH,2910 BUSH
519478,2019-01-31 00:00:00,1.0,2 FAMILY DWELLING,2.0,3.0,2908 BUSH ST,"[2908, BUSH, ST]",BUSH,2908 BUSH
519479,2019-01-31 00:00:00,1.0,2 FAMILY DWELLING,2.0,3.0,2910 BUSH ST,"[2910, BUSH, ST]",BUSH,2910 BUSH
519480,2019-01-31 00:00:00,3500.0,1 FAMILY DWELLING,1.0,2.0,274 TOPEKA AV,"[274, TOPEKA, AV]",TOPEKA,274 TOPEKA
519481,2019-01-31 00:00:00,3500.0,1 FAMILY DWELLING,1.0,2.0,274 TOPEKA AV,"[274, TOPEKA, AV]",TOPEKA,274 TOPEKA

In [57]:
for i, addr in enumerate(predictor['addr2'].unique()):
    t = target[target['Address'].apply(lambda x: addr in x)].count()
    print(addr, ': ', t['Address'])
    if i > 100: 
        break

1201 TENNESSEE :  11
435 10TH :  1
1127 MARKET :  4
3935 WASHINGTON :  1
455 IRWIN :  3
201 POST :  33
209 POST :  1
2371 17TH :  2
1455 MARKET :  68
322 LEXINGTON :  0
2130 OFARRELL :  21
1 HALLIDIE :  0
1299 BUSH :  9
222 02ND :  1
28 CYRIL MAGNIN :  9
2675 GEARY :  111
3507 23RD :  1
3509 23RD :  1
333 POST :  136
1417 05TH :  0
1419 05TH :  0
40 BUCHANAN :  9
1627 RIVERA :  0
1111 08TH :  0
744 IRVING :  6
130 SAN BUENAVENTURA :  0
747 HOWARD :  190
1225 HYDE :  2
1649 POLK :  1
634 MISSOURI :  1
650 CALIFORNIA :  72
549 FLOOD :  0
350 MISSION :  54
301 HOWARD :  80
1939 MARKET :  3
112 07TH :  0
212 CALIFORNIA :  7
165 LOWER :  0
167 LOWER :  0
806 35TH :  0
536 MISSION :  33
195 EUREKA :  1
444 DE HARO :  25
2526 FRANCISCO :  1
1770 35TH :  1
312 TEXAS :  1
16 25TH NORTH :  0
5 EMBARCADERO CENTER :  0
1263 MISSION :  1
727 CHENERY :  0
733 CHENERY :  0
703 MARKET :  14
975 CLAYTON :  0
2849 BALBOA :  0
46 LUNDY'S :  0
577 ALVARADO :  0
799 MARKET :  74
860 FELL :  6
3516 SACRAMENTO :  9
3518 SACRAMENTO :  0
110 SUTTER :  19
2 EMBARCADERO CENTER :  0
901 MARKET :  50
1522 09TH :  0
875 37TH :  1
474 LOS PALMOS :  0
115 TOPAZ :  0
117 TOPAZ :  0
2106 JACKSON :  12
4612 19TH :  0
2349 09TH :  0
848 26TH :  0
980 BAKER :  1
2035 LAGUNA :  0
1 CALIFORNIA :  809
1692 HAIGHT :  0
201 CALIFORNIA :  95
5431 CALIFORNIA :  3
333 BUSH :  130
601 CALIFORNIA :  37
123 MISSION :  55
2288 BROADWAY :  28
1330 HAMPSHIRE :  0
1309 HOWARD :  0
555 MARKET :  94
115 ULLOA :  3
47 PROSPECT :  1
1859 FILBERT :  1
250 SUMMIT :  0
50 LAGUNA :  75
1520 GOUGH :  22
420 MONTGOMERY :  56
180 MONTGOMERY :  27
2841 VALLEJO :  3
1017 PORTOLA :  0
1 MONTGOMERY :  442
120 KEARNY :  162
1569 PAGE :  0
100 DIAMOND :  7
1234 34TH :  2
1236 34TH :  0
47 LINDA :  0

57067

In [58]:
predictor

,file_date,estimated cost,proposed use,proposed units,proposed stories,address,list,street name,addr2
0,2013-12-23 00:00:00,55000000.0,APARTMENTS,259.0,6.0,1201 TENNESSEE ST,"[1201, TENNESSEE, ST]",TENNESSEE,1201 TENNESSEE
1,2014-03-07 00:00:00,285000.0,1 FAMILY DWELLING,1.0,3.0,435 10TH AV,"[435, 10TH, AV]",10TH,435 10TH
2,2014-04-04 00:00:00,1.0,NaN,NaN,NaN,1127 MARKET ST,"[1127, MARKET, ST]",MARKET,1127 MARKET
3,2014-04-04 00:00:00,1.0,NaN,NaN,NaN,1127 MARKET ST,"[1127, MARKET, ST]",MARKET,1127 MARKET
4,2014-04-04 00:00:00,1.0,NaN,NaN,NaN,1127 MARKET ST,"[1127, MARKET, ST]",MARKET,1127 MARKET
5,2014-04-04 00:00:00,1.0,NaN,NaN,NaN,1127 MARKET ST,"[1127, MARKET, ST]",MARKET,1127 MARKET
6,2014-04-04 00:00:00,1.0,NaN,NaN,NaN,1127 MARKET ST,"[1127, MARKET, ST]",MARKET,1127 MARKET
7,2014-04-04 00:00:00,1.0,NaN,NaN,NaN,1127 MARKET ST,"[1127, MARKET, ST]",MARKET,1127 MARKET
8,2014-04-29 00:00:00,6000.0,1 FAMILY DWELLING,1.0,3.0,3935 WASHINGTON ST,"[3935, WASHINGTON, ST]",WASHINGTON,3935 WASHINGTON
9,2014-05-22 00:00:00,20000.0,ANTENNA,0.0,2.0,455 IRWIN ST,"[455, IRWIN, ST]",IRWIN,455 IRWIN
10,2014-06-11 00:00:00,20000.0,OFFICE,0.0,12.0,201 POST ST,"[201, POST, ST]",POST,201 POST
11,2014-06-11 00:00:00,20000.0,OFFICE,0.0,12.0,209 POST ST,"[209, POST, ST]",POST,209 POST
12,2014-07-10 00:00:00,130000.0,1 FAMILY DWELLING,1.0,2.0,2371 17TH AV,"[2371, 17TH, AV]",17TH,2371 17TH
13,2014-07-24 00:00:00,3000000.0,RETAIL SALES,0.0,23.0,1455 MARKET ST,"[1455, MARKET, ST]",MARKET,1455 MARKET
14,2014-07-30 00:00:00,8000.0,2 FAMILY DWELLING,2.0,2.0,322 LEXINGTON ST,"[322, LEXINGTON, ST]",LEXINGTON,322 LEXINGTON
15,2014-09-26 00:00:00,20000.0,PRKNG GARAGE/PUBLIC,NaN,7.0,2130 OFARRELL ST,"[2130, OFARRELL, ST]",OFARRELL,2130 OFARRELL
16,2014-10-01 00:00:00,2250.0,NaN,NaN,NaN,1 HALLIDIE PZ,"[1, HALLIDIE, PZ]",HALLIDIE,1 HALLIDIE
17,2014-11-04 00:00:00,1000.0,APARTMENTS,26.0,8.0,1299 BUSH ST,"[1299, BUSH, ST]",BUSH,1299 BUSH
18,2014-12-04 00:00:00,1000.0,OFFICE,NaN,26.0,222 02ND ST,"[222, 02ND, ST]",02ND,222 02ND
19,2014-12-16 00:00:00,334022.0,TOURIST HOTEL/MOTEL,NaN,6.0,28 CYRIL MAGNIN ST,"[28, CYRIL, MAGNIN, ST]",CYRIL,28 CYRIL MAGNIN
20,2014-12-17 00:00:00,5000.0,NaN,NaN,NaN,2675 GEARY BL,"[2675, GEARY, BL]",GEARY,2675 GEARY
21,2014-12-18 00:00:00,495000.0,APARTMENTS,3.0,3.0,3507 23RD ST,"[3507, 23RD, ST]",23RD,3507 23RD
22,2014-12-18 00:00:00,495000.0,APARTMENTS,3.0,3.0,3509 23RD ST,"[3509, 23RD, ST]",23RD,3509 23RD
23,2014-12-29 00:00:00,100000.0,PUBLIC ASSMBLY OTHER,0.0,1.0,333 POST ST,"[333, POST, ST]",POST,333 POST
24,2015-01-23 00:00:00,40000.0,APARTMENTS,5.0,3.0,1417 05TH AV,"[1417, 05TH, AV]",05TH,1417 05TH
25,2015-01-23 00:00:00,40000.0,APARTMENTS,5.0,3.0,1419 05TH AV,"[1419, 05TH, AV]",05TH,1419 05TH
26,2015-01-26 00:00:00,45000.0,APARTMENTS,12.0,3.0,40 BUCHANAN ST,"[40, BUCHANAN, ST]",BUCHANAN,40 BUCHANAN
27,2015-01-29 00:00:00,44000.0,1 FAMILY DWELLING,1.0,2.0,1627 RIVERA ST,"[1627, RIVERA, ST]",RIVERA,1627 RIVERA
28,2015-02-19 00:00:00,22000.0,SCHOOL,0.0,2.0,1111 08TH ST,"[1111, 08TH, ST]",08TH,1111 08TH
29,2015-02-19 00:00:00,50000.0,FOOD/BEVERAGE HNDLNG,0.0,2.0,744 IRVING ST,"[744, IRVING, ST]",IRVING,744 IRVING
...,...,...,...,...,...,...,...,...,...
519452,2019-01-31 00:00:00,6000.0,OFFICE,NaN,11.0,500 HOWARD ST,"[500, HOWARD, ST]",HOWARD,500 HOWARD
519453,2019-01-31 00:00:00,6000.0,OFFICE,NaN,11.0,500 HOWARD ST,"[500, HOWARD, ST]",HOWARD,500 HOWARD
519454,2019-01-31 00:00:00,100000.0,APARTMENTS,3.0,3.0,2834 SAN JOSE AV,"[2834, SAN, JOSE, AV]",SAN,2834 SAN JOSE
519455,2019-01-31 00:00:00,19650.0,APARTMENTS,3.0,4.0,4440 CALIFORNIA ST,"[4440, CALIFORNIA, ST]",CALIFORNIA,4440 CALIFORNIA
519456,2019-01-31 00:00:00,19650.0,APARTMENTS,3.0,4.0,4440 CALIFORNIA ST,"[4440, CALIFORNIA, ST]",CALIFORNIA,4440 CALIFORNIA
519457,2019-01-31 00:00:00,25000.0,2 FAMILY DWELLING,2.0,3.0,4470 24TH ST,"[4470, 24TH, ST]",24TH,4470 24TH
519458,2019-01-31 00:00:00,25000.0,2 FAMILY DWELLING,2.0,3.0,4472 24TH ST,"[4472, 24TH, ST]",24TH,4472 24TH
519459,2019-01-31 00:00:00,30000.0,APARTMENTS,449.0,13.0,601 VAN NESS AV,"[601, VAN, NESS, AV]",VAN,601 VAN NESS
519460,2019-01-31 00:00:00,30000.0,APARTMENTS,449.0,13.0,601 VAN NESS AV,"[601, VAN, NESS, AV]",VAN,601 VAN NESS
519461,2019-01-31 00:00:00,50000.0,2 FAMILY DWELLING,2.0,4.0,7039 GEARY BL,"[7039, GEARY, BL]",GEARY,7039 GEARY
519462,2019-01-31 00:00:00,20000.0,RETAIL SALES,10.0,3.0,1795 HAIGHT ST,"[1795, HAIGHT, ST]",HAIGHT,1795 HAIGHT
519463,2019-01-31 00:00:00,20000.0,APARTMENTS,5.0,3.0,785 CORBETT AV,"[785, CORBETT, AV]",CORBETT,785 CORBETT
519464,2019-01-31 00:00:00,45000.0,1 FAMILY DWELLING,1.0,3.0,839 NORTH POINT ST,"[839, NORTH, POINT, ST]",NORTH,839 NORTH POINT
519465,2019-01-31 00:00:00,20000.0,2 FAMILY DWELLING,2.0,3.0,3440 SCOTT ST,"[3440, SCOTT, ST]",SCOTT,3440 SCOTT
519466,2019-01-31 00:00:00,20000.0,2 FAMILY DWELLING,2.0,3.0,3442 SCOTT ST,"[3442, SCOTT, ST]",SCOTT,3442 SCOTT
519467,2019-01-31 00:00:00,1.0,1 FAMILY DWELLING,1.0,3.0,513 08TH AV,"[513, 08TH, AV]",08TH,513 08TH
519468,2019-01-31 00:00:00,1.0,1 FAMILY DWELLING,1.0,3.0,513 08TH AV,"[513, 08TH, AV]",08TH,513 08TH
519469,2019-01-31 00:00:00,6000.0,1 FAMILY DWELLING,1.0,2.0,766 VIENNA ST,"[766, VIENNA, ST]",VIENNA,766 VIENNA
519470,2019-01-31 00:00:00,11800.0,1 FAMILY DWELLING,1.0,2.0,679 VIENNA ST,"[679, VIENNA, ST]",VIENNA,679 VIENNA
519471,2019-01-31 00:00:00,11800.0,1 FAMILY DWELLING,1.0,2.0,679 VIENNA ST,"[679, VIENNA, ST]",VIENNA,679 VIENNA
519472,2019-01-31 00:00:00,10000.0,1 FAMILY DWELLING,1.0,2.0,766 VIENNA ST,"[766, VIENNA, ST]",VIENNA,766 VIENNA
519473,2019-01-31 00:00:00,1.0,MANUFACTURING,NaN,3.0,1155 BRYANT ST,"[1155, BRYANT, ST]",BRYANT,1155 BRYANT
519474,2019-01-31 00:00:00,1000.0,OFFICE,NaN,2.0,432 BRYANT ST,"[432, BRYANT, ST]",BRYANT,432 BRYANT
519475,2019-01-31 00:00:00,1.0,1 FAMILY DWELLING,1.0,2.0,647 28TH AV,"[647, 28TH, AV]",28TH,647 28TH
519476,2019-01-31 00:00:00,1.0,2 FAMILY DWELLING,2.0,3.0,2908 BUSH ST,"[2908, BUSH, ST]",BUSH,2908 BUSH
519477,2019-01-31 00:00:00,1.0,2 FAMILY DWELLING,2.0,3.0,2910 BUSH ST,"[2910, BUSH, ST]",BUSH,2910 BUSH
519478,2019-01-31 00:00:00,1.0,2 FAMILY DWELLING,2.0,3.0,2908 BUSH ST,"[2908, BUSH, ST]",BUSH,2908 BUSH
519479,2019-01-31 00:00:00,1.0,2 FAMILY DWELLING,2.0,3.0,2910 BUSH ST,"[2910, BUSH, ST]",BUSH,2910 BUSH
519480,2019-01-31 00:00:00,3500.0,1 FAMILY DWELLING,1.0,2.0,274 TOPEKA AV,"[274, TOPEKA, AV]",TOPEKA,274 TOPEKA
519481,2019-01-31 00:00:00,3500.0,1 FAMILY DWELLING,1.0,2.0,274 TOPEKA AV,"[274, TOPEKA, AV]",TOPEKA,274 TOPEKA